* {
  background-color: black !important;
}

.card {

}

.nav-link, .navbar-brand {
  font-family: 'Merriweather', serif;
  font-size: 26px;
}

.navbar-brand {
  font-size: 72px;
}

.card-title {
  font-family: 'Merriweather', serif;
  color: DimGray;
  font-size: 26px;
}

.card-text {
  font-family: 'Inconsolata', monospace;
  color: DarkGray;
  font-size: 18px;
}

.form-control {
  border-style: solid;
  border-width: 2px;
  border-color: DimGray;
}

.input-group-addon {
  font-family: 'Merriweather', serif;
  color: DimGray;
  font-size: 26px;
}

.btn-secondary {
  border-width: 0px;
  font-family: 'Inconsolata', monospace;
  color: DarkGray;
  font-size: 18px;
}

.fa {
  color: Gainsboro;
}

.list-group-item {
  border-width: 0px;
  font-family: 'Inconsolata', monospace;
  color: DarkGray;
  font-size: 26px;
}

.list-group-item:hover {
  background: blue;
}
