* {
  background-color: black !important;
}

input::-webkit-input-placeholder {
color: DarkGray !important;
}
input::-moz-placeholder {  /* Firefox 19+ */
color: DarkGray !important;
}
input:-ms-input-placeholder {
color: DarkGray !important;
}
.card {

}

.nav-link, .navbar-brand {
  font-family: 'Merriweather', serif;
  font-size: 26px;
}

.navbar-brand {
  font-size: 72px;
}

.card-title {
  font-family: 'Merriweather', serif;
  color: DimGray;
  font-size: 26px;
  text-align: center;
}

.card-text {
  font-family: 'Inconsolata', monospace;
  color: DarkGray;
  font-size: 18px;
  text-align: center;
}

.form-control {
  border-style: solid;
  border-width: 2px;
  border-color: DimGray;
}

.input-group-addon {
  font-family: 'Merriweather', serif;
  color: DimGray;
  font-size: 26px;
}

.btn-secondary {
  border-width: 0px;
  font-family: 'Inconsolata', monospace;
  color: DarkGray;
  font-size: 18px;
}

.btn-secondary:hover{
  border-style: solid;
  border-width: 2px;
  border-color: DimGray;
}

.fa {
  color: Gainsboro;
  font-size: 72px;
}

.fa-sm {
  font-size: 36px;
  border-width: 0px;
  margin-right: -20px;
}

.list-group-item {
  border-width: 0px;
  font-family: 'Inconsolata', monospace;
  color: DarkGray;
  font-size: 18px;
  height: auto;
  min-height: 50px;
  line-height: 90%;
  margin-top: 12px;
  margin-bottom: 12px;
  z-index: 100;
}

.list-group-item:hover {
  border-style: solid;
  border-width: 2px;
  border-color: DimGray;
}


#issues_list{
  overflow-y: scroll;
  height: 325px;
  width: 238px;
  padding-right: 0px;
}

.img-responsive {
  heigh: 500px !important;
  width: 250px !important;
}

#nextButton {
  font-size: 94px;
}


form-control::-webkit-input-placeholder {
color: DarkGray !important;
}
form-control::-moz-placeholder {  /* Firefox 19+ */
color: DarkGray !important;
}
form-control:-ms-input-placeholder {
color: DarkGray !important;
}
